<template>
  <div>
      <div class="sidebar sidebar-big">
      <div class="container">
        <div class="logo">
          <div class="logo-img">
             <img src="https://i.ibb.co/9HSf4R0/logo.png" alt="">
          </div>
          <div class="logo-cont">
            <h4>بسطتهالك</h4>
          </div>
        </div>
        <div class="dash-items">
          <div class="control"  @click="droped1 = !droped1">
            <div class="control-item-img">
              <i class="nav-icon fas fa-tachometer-alt"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left first-chev"></i></h4>
             
            </div>
          </div>
        </div>
         <div class="droped" v-bind:style="{'height': display1}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>
          </div>


        




          <div class="dash-items">
          <div class="control"  @click="droped3 = !droped3">
            <div class="control-item-img">
        <i class="nav-icon fas fa-th"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left third-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display3}">
               
               
             <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>


          </div>




          <div class="dash-items">
          <div class="control"  @click="droped4 = !droped4">
            <div class="control-item-img">
        <i class="nav-icon fas fa-copy"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left forth-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display4}">
               

             <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          </div>





          <div class="dash-items">
          <div class="control"  @click="droped5 = !droped5">
            <div class="control-item-img">
        <i class="nav-icon fas fa-chart-pie"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم  <i class="fas fa-chevron-left fifth-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display5}">
              <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





          <div class="dash-items">
          <div class="control"  @click="droped6 = !droped6">
            <div class="control-item-img">
        <i class="nav-icon fas fa-tree"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left six-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display6}">
               <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>






        <div class="dash-items">
          <div class="control"  @click="droped7 = !droped7">
            <div class="control-item-img">
        <i class="nav-icon fas fa-edit"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left seven-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display7}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped8 = !droped8">
            <div class="control-item-img">
        <i class="nav-icon fas fa-table"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eight-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display8}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>






        <hr/>

        <div class="dash-items">
          <div class="control"  @click="droped9 = !droped9">
            <div class="control-item-img">
        <i class="nav-icon fas fa-calendar-alt"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left nine-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display9}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





        <div class="dash-items">
          <div class="control"  @click="droped10 = !droped10">
            <div class="control-item-img">
        <i class="nav-icon far fa-image"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left ten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display10}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped11 = !droped11">
            <div class="control-item-img">
        <i class="nav-icon far fa-envelope"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eleven-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display11}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped12 = !droped12">
            <div class="control-item-img">
        <i class="nav-icon fas fa-book"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left twelve-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display12}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped13 = !droped13">
            <div class="control-item-img">
        <i class="nav-icon far fa-plus-square"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left therten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display13}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





        <hr/>

         <div class="dash-items">
          <div class="control" @click="droped14 = !droped14">
            <div class="control-item-img">
        <i class="nav-icon fas fa-file"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left fourten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display14}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped15 = !droped15">
            <div class="control-item-img">
        <i class="fas fa-circle nav-icon"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left fiveten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display15}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped16 = !droped16">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-danger"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left sixten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display16}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped17 = !droped17">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-warning"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left seventen-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display17}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped18 = !droped18">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-info"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eighten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display18}">
               <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





      </div>
    </div>







    <!-- Start Sidebar in mobiles -->
    <div class="sidebar sidebar-mobiles">
      <div class="container">
        <div class="logo">
          <div class="logo-img">
             <img src="../assets/imgs/logo.png" alt="">
          </div>
          <div class="logo-cont">
            <h4>بسطتهالك</h4>
          </div>
        </div>
        <div class="dash-items">
          <div class="control"  @click="droped1 = !droped1">
            <div class="control-item-img">
              <i class="nav-icon fas fa-tachometer-alt"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left first-chev"></i></h4>
             
            </div>
          </div>
        </div>
         <div class="droped" v-bind:style="{'height': display1}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>
          </div>


        




          <div class="dash-items">
          <div class="control"  @click="droped3 = !droped3">
            <div class="control-item-img">
        <i class="nav-icon fas fa-th"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left third-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display3}">
               
               
             <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم </h4>
            </div>
          </div>


          </div>




          <div class="dash-items">
          <div class="control"  @click="droped4 = !droped4">
            <div class="control-item-img">
        <i class="nav-icon fas fa-copy"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left forth-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display4}">
               

             <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          </div>





          <div class="dash-items">
          <div class="control"  @click="droped5 = !droped5">
            <div class="control-item-img">
        <i class="nav-icon fas fa-chart-pie"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم  <i class="fas fa-chevron-left fifth-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display5}">
              <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





          <div class="dash-items">
          <div class="control"  @click="droped6 = !droped6">
            <div class="control-item-img">
        <i class="nav-icon fas fa-tree"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left six-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display6}">
               <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>






        <div class="dash-items">
          <div class="control"  @click="droped7 = !droped7">
            <div class="control-item-img">
        <i class="nav-icon fas fa-edit"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left seven-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display7}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped8 = !droped8">
            <div class="control-item-img">
        <i class="nav-icon fas fa-table"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eight-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display8}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>






        <hr/>

        <div class="dash-items">
          <div class="control"  @click="droped9 = !droped9">
            <div class="control-item-img">
        <i class="nav-icon fas fa-calendar-alt"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left nine-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display9}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





        <div class="dash-items">
          <div class="control"  @click="droped10 = !droped10">
            <div class="control-item-img">
        <i class="nav-icon far fa-image"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left ten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display10}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped11 = !droped11">
            <div class="control-item-img">
        <i class="nav-icon far fa-envelope"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eleven-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display11}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped12 = !droped12">
            <div class="control-item-img">
        <i class="nav-icon fas fa-book"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left twelve-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display12}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>




        <div class="dash-items">
          <div class="control"  @click="droped13 = !droped13">
            <div class="control-item-img">
        <i class="nav-icon far fa-plus-square"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left therten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display13}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





        <hr/>

         <div class="dash-items">
          <div class="control" @click="droped14 = !droped14">
            <div class="control-item-img">
        <i class="nav-icon fas fa-file"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left fourten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display14}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped15 = !droped15">
            <div class="control-item-img">
        <i class="fas fa-circle nav-icon"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left fiveten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display15}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped16 = !droped16">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-danger"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left sixten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display16}">
                <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped17 = !droped17">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-warning"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left seventen-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display17}">
                 <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





         <div class="dash-items">
          <div class="control"  @click="droped18 = !droped18">
            <div class="control-item-img">
        <i class="nav-icon far fa-circle text-info"></i>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم <i class="fas fa-chevron-left eighten-chev"></i></h4>
            </div>
          </div>
        </div>
        <div class="droped" v-bind:style="{'height': display18}">
               <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>

          <div class="control"  @click="droped2 = !droped2">
            <div class="control-item-img">
        <p><i class="far fa-circle nav-icon"></i></p>
            </div>
            <div class="control-item">
              <h4>لوحة التحكم</h4>
            </div>
          </div>
          </div>





      </div>
    </div>
  </div>
</template>

<script>

export default {
  data(){
    return {
      droped1: false,
      display1: '0',
      droped2: false,
      display2: '0',
      droped3: false,
      display3: '0',
      droped4: false,
      display4: '0',
      droped5: false,
      display5: '0',
      droped6: false,
      display6: '0',
      droped7: false,
      display7: '0',

       droped8: false,
      display8: '0',
      droped9: false,
      display9: '0',
      droped10: false,
      display10: '0',
      droped11: false,
      display11: '0',
      droped12: false,
      display12: '0',
      droped13: false,
      display13: '0',
      droped14: false,
      display14: '0',

       droped15: false,
      display15: '0',

       droped16: false,
      display16: '0',

       droped17: false,
      display17: '0',

       droped18: false,
      display18: '0',
    }
  },
  watch: {
    droped1: function(val){
      if(val == true){
        this.display1 = '87px'
        document.querySelector('.control-item .first-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display1 = '0'
        document.querySelector('.control-item .first-chev').style.transform = 'rotate(0)'

      }
    },

    droped2: function(val){
      if(val == true){
        this.display2 = '87px'
        document.querySelector('.control-item .sec-chev').style.transform = 'rotate(-90deg)'
      }else{
        this.display2 = '0'
        document.querySelector('.control-item .sec-chev').style.transform = 'rotate(0)'
      }
    },

    droped3: function(val){
      if(val == true){
        this.display3 = '87px'
        document.querySelector('.control-item .third-chev').style.transform = 'rotate(-90deg)'
      }else{
        this.display3 = '0'
        document.querySelector('.control-item .third-chev').style.transform = 'rotate(0)'
      }
    },

    droped4: function(val){
      if(val == true){
        this.display4 = '87px'
        document.querySelector('.control-item .forth-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display4 = '0'
        document.querySelector('.control-item .forth-chev').style.transform = 'rotate(0)'

      }
    },

    droped5: function(val){
      if(val == true){
        this.display5 = '87px'
        document.querySelector('.control-item .fifth-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display5 = '0'
        document.querySelector('.control-item .fifth-chev').style.transform = 'rotate(0)'

      }
    },

    droped6: function(val){
      if(val == true){
        this.display6 = '87px'
        document.querySelector('.control-item .six-chev').style.transform = 'rotate(-90deg)'
      }else{
        this.display6 = '0'
        document.querySelector('.control-item .six-chev').style.transform = 'rotate(0)'
      }
    },

    droped7: function(val){
      if(val == true){
        this.display7 = '87px'
        document.querySelector('.control-item .seven-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display7 = '0'
        document.querySelector('.control-item .seven-chev').style.transform = 'rotate(0)'

      }
    },

    droped8: function(val){
      if(val == true){
        this.display8 = '87px'
        document.querySelector('.control-item .eight-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display8 = '0'
        document.querySelector('.control-item .eight-chev').style.transform = 'rotate(0)'

      }
    },

    droped9: function(val){
      if(val == true){
        this.display9 = '87px'
        document.querySelector('.control-item .nine-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display9 = '0'
        document.querySelector('.control-item .nine-chev').style.transform = 'rotate(0)'

      }
    },

    droped10: function(val){
      if(val == true){
        this.display10 = '87px'
        document.querySelector('.control-item .ten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display10 = '0'
        document.querySelector('.control-item .ten-chev').style.transform = 'rotate(0)'

      }
    },

    droped11: function(val){
      if(val == true){
        this.display11 = '87px'
        document.querySelector('.control-item .eleven-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display11= '0'
        document.querySelector('.control-item .eleven-chev').style.transform = 'rotate(0)'

      }
    },

    droped12: function(val){
      if(val == true){
        this.display12 = '87px'
        document.querySelector('.control-item .twelve-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display12 = '0'
        document.querySelector('.control-item .twelve-chev').style.transform = 'rotate(0)'

      }
    },

    droped13: function(val){
      if(val == true){
        this.display13 = '87px'
        document.querySelector('.control-item .therten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display13 = '0'
        document.querySelector('.control-item .therten-chev').style.transform = 'rotate(0)'

      }
    },

    droped14: function(val){
      if(val == true){
        this.display14 = '87px'
        document.querySelector('.control-item .fourten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display14 = '0'
        document.querySelector('.control-item .fourten-chev').style.transform = 'rotate(0)'

      }
    },

     droped15: function(val){
      if(val == true){
        this.display15 = '87px'
        document.querySelector('.control-item .fiveten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display15 = '0'
        document.querySelector('.control-item .fiveten-chev').style.transform = 'rotate(0)'

      }
    },

     droped16: function(val){
      if(val == true){
        this.display16 = '87px'
        document.querySelector('.control-item .sixten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display16 = '0'
        document.querySelector('.control-item .sixten-chev').style.transform = 'rotate(0)'

      }
    },

     droped17: function(val){
      if(val == true){
        this.display17 = '87px'
        document.querySelector('.control-item .seventen-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display17 = '0'
        document.querySelector('.control-item .seventen-chev').style.transform = 'rotate(0)'

      }
    },

     droped18: function(val){
      if(val == true){
        this.display18 = '87px'
        document.querySelector('.control-item .eighten-chev').style.transform = 'rotate(-90deg)'

      }else{
        this.display18 = '0'
        document.querySelector('.control-item .eighten-chev').style.transform = 'rotate()'

      }
    },
  },
  methods:{

    sidebarMobMove: function(){
      let sidebar = document.querySelector('.sidebar-mobiles');
      let content = document.querySelector('.content');
      sidebar.classList.toggle('active-sidebar');
      if(sidebar.classList.contains('active-sidebar')){
        sidebar.style.minWidth = '300px'
        content.style.paddingRight ="300px"
      }else{
        sidebar.style.minWidth = '0'
         content.style.paddingRight ="0"
      }
    },
    
    sidebarMove: function(){
      let sidebar = document.querySelector('.sidebar-big');
      let content = document.querySelector('.content');
      sidebar.classList.toggle('active-sidebar');
      if(sidebar.classList.contains('active-sidebar')){
        sidebar.style.minWidth = '300px'
        content.style.paddingRight = '300px'
      }else{
        sidebar.style.minWidth = '76px'
        content.style.paddingRight = '76px'
      }

  },
     
  }
}
</script>

<style lang="scss">
$right: right;
$left : left;
$dir : rtl;

@if $dir == ltr {
  $right: left;
  $left: right;
}@else{
  $right: right;
$left : left;
}
*{
  direction: $dir;
  text-align: $right;
}
.sidebar{
     background: #098bc1;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
    width: 80px;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    transition: all .6s ease-in-out;
    z-index: 5;
    &:hover{
      width: 20% !important;
      z-index: 5;
    }
    h1,p{
      width: 100%;
      overflow: hidden;
    }
    .logo{
      overflow: hidden;
    max-height: 101px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 22px;
      >div{
        float: $right;
      }
     .logo-img{
        width: 45px;
    background: #FFF;
    border-radius: 50%;
    padding: 10px 7px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    
    img{
      width: 100%;
      height: 100%;
    }
     }
     .logo-cont{
       overflow: hidden;
       width: calc(100% - 51px);
           margin-top: 23px;
    padding-right: 9px;
     }
    }
 
}

.content{
transition: all .6s ease-in-out;
padding-right: 76px;
     i{
      cursor: pointer;
      position: relative;
    }
    div{
      position: relative;
      padding-top: 18px;
    background: #DDD;
    padding-bottom: 12px;
    padding-right: 11px;
    }
}

.sidebar{
    overflow-y:scroll;
}

 .control{
    overflow: hidden;
    margin: 15px 0 0;
    &:hover{
      background: #ddd;
      cursor: pointer;
    }
    >div{
      float: $right;
    }
    .control-item-img{
      width: 50px;
      i{
        width: 100%;
    font-size: 25px;
    text-align: center;
      }
    }
    .control-item{
      width: calc(100% - 50px);
          position: relative;
      h4{
        font-size: 18px;
    padding-top: 3px;
      }
      i{
        position: absolute;
    left: 7px;
    top: 9px;
    font-size: 13px;
    transition: all .5s ease-in-out;
      }
      .droped{
        display: none;
      }
    }
  }
  .droped{
    overflow: hidden;
    transition: all .4s ease-in-out;
    .control{
      margin: 0 0;
    max-height: 30px;
    }
    .control-item{
      h4{
        font-size: 17px;
    padding-top: 3px;
      }
    }
    .control-item-img{
      i{
            font-size: 16px;
    padding-top: 6px;
      }
    }
  }

  .sidebar-mobiles{
    display: none;
  }
/* width */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media (max-width: 575.98px) { 
   .content{
    padding-right: 0 ;
  }
.sidebar-big{
  display: none;
}
.big-icon-sidebar{
  display: none;
}
  .sidebar-mobiles{
    width: 0 !important;
  }
.mobile-icon-sidebar{
  display: block;
}
.sidebar-mobiles{
  display: block;
}

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .sidebar-mobiles{
    width: 0 !important;
  }
 
.sidebar-big{
  display: none;
}
.big-icon-sidebar{
  display: none;
}

.sidebar-mobiles{
  display: block;
}
.sidebar-mobiles:hover {
    width: auto !important;
    z-index: 5;
}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .sidebar-mobiles{
  display: none;
}
.sidebar-big{
  display: block;
}
.big-icon-sidebar{
  display: block;
}
.mobile-icon-sidebar{
  display: none;
}

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

.con button{
  padding:0;
}
.con img{
      width: 100px;
    height: 33px;
}
</style>