* {
  direction: rtl;
  text-align: right;
}
.pages-numbers {
  border: 1px solid #333;
  padding: 16px;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
}
.page_number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}
.behavior-modification-plan {
  padding-top: 20px;
  .logo {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .main-title {
    text-align: center;
    h3 {
      display: inline-block;
      border-bottom: 2px solid #333;
      margin-top: 30px;
      padding-bottom: 5px;
    }
  }
  .main-info-groub {
    .row {
      > div {
        border: 1px solid #333;
      }
    }
    margin-top: 35px;
    h6 {
      display: inline-block;
    }
    p {
      display: inline-block;
    }
  }
  .questions-page-two {
    margin: 20px auto;
    .row {
      > div {
        border: 1px solid #333;
      }
    }
    .table-title {
      margin-top: 25px;
    }
    table {
      width: 100%;
      td {
        border: 1px solid #333;
        padding: 5px;
      }
      thead {
        td {
          font-weight: bold;
        }
      }
    }
  }
  .feedback-table {
    margin: 10px auto;
    thead {
      td {
        font-weight: bold;
      }
    }
    td {
      text-align: center;
      border: 1px solid #333;
    }
  }
}
span.api {
  color: crimson;
}