* {
  direction: rtl;
  text-align: right;
}

.pages-numbers {
  border: 1px solid #333;
  padding: 16px;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
}

.page_number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}

.behavior-modification-plan {
  padding-top: 20px;
}
.behavior-modification-plan .logo img {
  width: 100px;
  height: 100px;
}
.behavior-modification-plan .main-title {
  text-align: center;
}
.behavior-modification-plan .main-title h3 {
  display: inline-block;
  border-bottom: 2px solid #333;
  margin-top: 30px;
  padding-bottom: 5px;
}
.behavior-modification-plan .main-info-groub {
  margin-top: 35px;
}
.behavior-modification-plan .main-info-groub .row > div {
  border: 1px solid #333;
}
.behavior-modification-plan .main-info-groub h6 {
  display: inline-block;
}
.behavior-modification-plan .main-info-groub p {
  display: inline-block;
}
.behavior-modification-plan .questions-page-two {
  margin: 20px auto;
}
.behavior-modification-plan .questions-page-two .row > div {
  border: 1px solid #333;
}
.behavior-modification-plan .questions-page-two .table-title {
  margin-top: 25px;
}
.behavior-modification-plan .questions-page-two table {
  width: 100%;
}
.behavior-modification-plan .questions-page-two table td {
  border: 1px solid #333;
  padding: 5px;
}
.behavior-modification-plan .questions-page-two table thead td {
  font-weight: bold;
}
.behavior-modification-plan .feedback-table {
  margin: 10px auto;
}
.behavior-modification-plan .feedback-table thead td {
  font-weight: bold;
}
.behavior-modification-plan .feedback-table td {
  text-align: center;
  border: 1px solid #333;
}

span.api {
  color: crimson;
}

/*# sourceMappingURL=behavior.css.map */
