<template>
  <div>
    <sidebar />
    <nuxt />
  </div>
</template>

<script>
import sidebar from '../components/sidebar'
export default {
  components:{
    sidebar
  }
}
</script>

<style>
*{

}
</style>
