<template>
  <div>
    <Navbar />
    <div class="index-page">
      This is Content
    </div>
    <Footer/>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
import Footer from '../components/Footer'

export default {
  components:{
    Navbar,
    Footer
  }
}
</script>

<style lang="scss">
.index-page{
  height: 100vh;
  padding-right: 83px;
}
</style>
