<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="login">
      <div class="form-title">
        <h4>
          <img src="../assets/imgs/noun_User_-2.png" alt="">
          تسجيل دخول</h4>
      </div>
      <form action="">
        <div class="form-groub">
          <input type="text" class="form-control" placeholder="البريد الألكتروني أو رقم الجوال">
        </div>
         <div class="form-groub">
          <input type="password" class="form-control" placeholder="كلمة المرور">
        </div>
        <div class="forget-pass">
          <nuxt-link to="">
            هل نسيت كلمة مرورك ؟
          </nuxt-link>
        </div>
        <input type="submit" value="تسجيل الدخول" class="fullWidthBtn">
        <div class="two-way">
          <h6>او عن طريق</h6>
          <img src="../assets/imgs/facebook.png" alt="">
          <img src="../assets/imgs/brands-and-logotypes.png" alt="">
        </div>

        <div class="dont-have-acc">
          <div>
            <h6>ليس لديك حساب ؟</h6>
          </div>
          <div>
            <button>انشاء حساب</button>
          </div>
        </div>
      </form>
    </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
import Footer from '../components/Footer'

export default {
components:{
  Navbar,
  Footer
}
}
</script>

<style lang="scss">
  .login{
    width: 35%;
    margin:100px auto;
    h4{
      text-align: center;
    margin-bottom: 30px;
    color: #444;
    }
    input{
      margin: 10px 0;
    }
    .forget-pass{
      text-align: left;
      a{
        text-align: left;
        font-family: "CustomFontRegular";
      }
    }
    .two-way{
          text-align: center;
          margin-top: 13px;
          margin-bottom: 13px;
          h6{
            margin-bottom: 13px;
            text-align: center;
          }
          img{
            margin: 0 10px;
          }
    }
    .dont-have-acc{
      >div{
        display: inline-block;
        h6{
              display: inline-block;
    margin-left: 153px;
        }
        button{
              padding: 7px 13px;
    background: #FFF;
    border: 1px solid #058ac6bd;
    color: #058ac6bd;
    font-family: "CustomFontRegular";
        }
      }
    }
  }




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
.login{
  width: 85%;
  padding-top: 60px;
}
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
.login{
  padding-top: 60px;
  width: 60%;
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
.login{
  width: 60%;
}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }




 

@font-face {
  font-family: "CustomFontBlack";
  src: url("../font/din-next-lt-w23-black.ttf");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("../font/din-next-lt-w23-bold.ttf");
}

@font-face {
  font-family: "CustomFontHeavy";
  src: url("../font/din-next-lt-w23-heavy.ttf");
}

@font-face {
  font-family: "CustomFontLight";
  src: url("../font/din-next-lt-w23-light.ttf");
}

@font-face {
  font-family: "CustomFontMedium";
  src: url("../font/din-next-lt-w23-medium.ttf");
}

@font-face {
  font-family: "CustomFontRegular";
  src: url("../font/din-next-lt-w23-regular.ttf");
}
h1,h2,h3,h4,h5,h6{
  font-family: "CustomFontBold";
}
*{
  direction: rtl;
  text-align: right;
}
p{
  font-family: "CustomFontMedium";
}

input[type="text"], input[type="password"] ,input[type="email"]{
  padding: 24px 11px;
  box-shadow: 0px 1px 10px 1px #DDD;
    border: 0;
    border-radius: 7px;
}
::placeholder{
  font-family: "CustomFontLight";
  font-weight: bold;
}

input[type="submit"].fullWidthBtn{
  display: block;
    width: 100%;
    text-align: center;
    padding: 13px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    background-color: #058ac6;
    font-family: "CustomFontRegular";
}

a{
  color:#333;
  text-decoration: none;
  font-family: "CustomFontRegular";
  transition: all .2s linear;
  &:hover{
    text-decoration: none;
  }
}

.box-shadow-class{
  box-shadow: 0px 1px 9px 0px #DDD;
}

.unit{
  padding: 10px 12px;
  box-shadow: 0px 1px 9px 0px #DDD;
  border-radius: 5px;
  margin: 20px 0;
  h6{
    display: inline-block;
  }
  span{
        display: inline-block;
  color: #FFF;
  background: #333;
  padding: 3px 11px;
  border-radius: 50%;
  position: relative;
  margin: 0 3px 0 8px;
  &::after{
    position: absolute;
  width: 100%;
  height: 100%;
  top: -4px;
  right: -4px;
  content: '';
  background: #b8b2b2;
  z-index: -1;
  border-radius: 50%;
  padding: 19px;
  }
  }
}

.c100 {
  position: relative;

  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  /* float: left; */
  margin: 0 0.1em 0.1em 0;
  background-color: #ffffff;
  margin: 13px auto 0;
  float: none !important;

}
.c100::after{
  background-color: #ffffff;
  &:hover{
    transform: none;
  }
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill{
  border: 0.08em solid #00aa00;

}
html {
  scroll-behavior: smooth;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 4.5em;
  font-size: 18px;
  color: #494949;
  display: block;
  text-align: center;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  font-weight: bold;
  font-family: "CustomFontBold";
  &:hover{
    transform: none;
  }
  .slice{
    .bar{
      &:hover{
        transform: none;
      }
    }
    &:hover{
      transform: none;
    }
  }
}

</style>
