<template>
  <div>
      <Navbar />
      <div class="add-subject">
          <div class="container">
              <div class="card-cont">
                                <h3>أضافة مادة جديدة</h3>
           <div class="row">
               <div class="col-md-6">
                   <h6>نوع التعليم</h6>
                   <v-select class="select-box" v-model="eduType" :options="eduTypeOptions"></v-select>
               </div>

               <div class="col-md-6">
                   <h6>المرحلة الدراسية</h6>
                   <v-select class="select-box" v-model="eduLevel" :options="eduLevelOptions"></v-select>
               </div>

                <div class="col-md-6">
                    <h6>السنه الدراسية</h6>
                   <v-select class="select-box" v-model="eduGrade" :options="eduGradeOptions"></v-select>
               </div>

                <div class="col-md-6">
                    <h6>الفصل الدراسي</h6>
                   <v-select class="select-box" v-model="eduYear" :options="eduYearOptions"></v-select>
               </div>

               <div class="col-md-6">
                   <div class="form-groub">
                       <h6>
                           اسم المادة باللغة العربية
                       </h6>
                        <input type="text" class="form-control" placeholder="">
                    </div>
               </div>

               <div class="col-md-6">
                   <div class="form-groub">
                       <h6>اسم المادة باللغة الأنجليزية</h6>
                        <input type="text" class="form-control" placeholder="">
                    </div>
               </div>

               <div class="col-md-12">
                   <div class="file-choose">
                        <input type="file" placeholder="قم بأرفاق أيقونه">
                        <span> <img src="../../assets/imgs/noun_Camera_1903011.png">  قم بأرفاق أيقونة للمادة </span>
                    </div>
               </div>
               

               
           </div>
                 <card />

          </div>
              </div>
      </div>
      <Footer />
  </div>
</template>

<script>
import Navbar from '../../components/Navbar'
import Footer from '../../components/Footer'
import card from '../../components/card'


export default {
    components:{
        Navbar,
        Footer,
        card
    },
    data(){
        return {
            eduType: '',
            eduTypeOptions:['التعليم العام', 'التعليم الأزهري'],
            eduLevel: '',
            eduLevelOptions: ['الأبتدائية','الأعدادية','الثانوية'],
            eduGrade: '',
            eduGradeOptions: ['الاول','الثاني','الثالث','الرابع','الخامس','السادس'],
            eduYear:'',
            eduYearOptions:['الأول','الثاني']
        }
    },
    watch:{
        eduType: function(val){
            if(val == 'التعليم الأزهري'){
                console.log('yes')
            }
        },
        eduLevel: function(val){
            if(val == 'الأبتدائية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث','الرابع','الخامس','السادس']
            }
            else if(val == 'الأعدادية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث']

            }else if(val == 'الثانوية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث']

            }
        }
    }
}
</script>

<style lang="scss">



@font-face {
  font-family: "CustomFontBlack";
  src: url("../../font/din-next-lt-w23-black.ttf");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("../../font/din-next-lt-w23-bold.ttf");
}

@font-face {
  font-family: "CustomFontHeavy";
  src: url("../../font/din-next-lt-w23-heavy.ttf");
}

@font-face {
  font-family: "CustomFontLight";
  src: url("../../font/din-next-lt-w23-light.ttf");
}

@font-face {
  font-family: "CustomFontMedium";
  src: url("../../font/din-next-lt-w23-medium.ttf");
}

@font-face {
  font-family: "CustomFontRegular";
  src: url("../../font/din-next-lt-w23-regular.ttf");
}


.add-subject{
    padding-top: 80px;
    h3{
             margin-bottom: 33px;
    font-family: "CustomFontMedium";
    color: #ffffff;
    font-size: 20px;
    padding: 10px 12px;
    background: #098bc1;
    }

input[type="text"], input[type="password"] ,input[type="email"], .vs--searchable .vs__dropdown-toggle{
  padding: 24px 11px;
  box-shadow: 0px 1px 10px 1px #DDD;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 21px;
}
.vs--searchable .vs__dropdown-toggle{
    padding:8px;
    font-family: "CustomFontRegular";
}

 .file-choose{
        position: relative;
    width: 100%;
    height: 200px;
    margin-top: 13px;
    input[type="file"]{
      position: absolute;
    width: 100%;
    /* visibility: hidden; */
    opacity: 0;
    height: 100%;
    cursor: pointer;
    margin-top: 10px;
    }
    span{
            border: 1px dashed #444444;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: -1;
    margin: 10px 0;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    line-height: 186px;
    color: #444444;
    }

      }


      input[type="submit"].fullWidthBtn{
  display: block;
    width: 100%;
    text-align: center;
    padding: 13px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    background-color: #058ac6;
    font-family: "CustomFontRegular";
}
h6{
    font-family: "CustomFontMedium";
}
}
.card-cont{
    border: 2px dashed #DDD;
    padding: 10px;
}
</style>